.card-footer{
    text-align: center;
  }
  
  .footer{
    text-align: center;
  }
  
  #searchInput{
    border-radius: 4px;
  }
  
  #searchBtn{
    border-radius: 4px;
  }
  
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  
  #cryptoInformation {
    align-items: center;
    justify-content: center;

  }

  #cryptoImg {
    margin: 0 auto;
  
  }
